
h1 {
  font-family: Times New Roman;
  color: black;
  text-align: center;
}
h2 {
  font-family: Times New Roman;
  color: black;
  text-align: center;
  text-transform: uppercase;
}
p {
  font-family: Times New Roman;
  font-size: 11px;
  margin: 0px;
  padding: 0px;
  font-weight: bold;
}
p1 {
  font-family: Times New Roman;
  font-size: 11px;
  margin: 0px;
  padding: 0px;
  font-weight: bold;
}
.studentName {
  font-family: Times New Roman;
  text-align: center;
  font-size: 40px;
  margin-top: 0px;
}
.sectionHeading {
  font-size: 11px;
  margin-top: -15px;
  padding: 10px 10px
}
/*.youthStudiesExperience {*/
/*font-size: 11px;*/
/*margin-top: 20px;*/
/*}*/
.bachelorScience {
  font-style: italic;
}
.address {
  text-align: center;
  margin-top: -25px;
  font-weight: normal;
}
.university {
  display: inline;
}
.cityState {
  display: inline;
  font-weight: normal;
}
.roleHeading {
  font-style: italic;
  font-size: 12px;
  margin-top: 0px;
  padding: 0px;
}
ul {
  font-size: 12px;
}
.referenceContent {
  font-weight: normal;
  text-align: center;
  margin: 4px;
}
.referenceInfo {
  margin: 1px;
}
.skillInfo {
  margin: 1px;
}
.skillsContent {
  font-weight: normal;
}
.content {
  border: 1px solid;
  padding: 10px;
}
.referenceEmail {
  font-weight: normal;
  text-align: center;
  color: black;
}
a:visited {
  color: blue;
}
a:hover {
  color: lightblue;
}
